* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.contenedor_productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.contenedor_coccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.contenedor_comprar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.contenedor_nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.contenedor_contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
      grid-template-areas: "header header" "main main" "footer footer";
  width: 100%;
  height: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.header .navbar {
  background-color: #ffbf49 !important;
}

.header .navbar .logo {
  padding-left: 20px;
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .navbar .logo:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.header .navbar ul li a {
  text-decoration: none !important;
  color: white;
  margin: 10px;
  padding: 2px 10px 2px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
}

.header .navbar ul li a:hover {
  color: black;
}

.header .navbar ul li a:hover {
  background-color: white;
  border-radius: 15px;
}

/* main index */
main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  /* jumbotrons home */
}

main .hero .foto {
  background-image: url(../image/chedars.jpg);
  background-size: cover;
  background-position: center;
  height: 220vh;
}

main .hero .texto_hero {
  padding: 40px;
}

main .hero .texto_hero h1 {
  color: white;
  font-size: 7rem !important;
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 1px 2px #5e5e5e;
}

main .hero .texto_hero h2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  font-size: 1.5em;
  padding-right: 20px;
  color: #ffbf49;
  text-decoration: none;
  text-shadow: 1px 1px 2px #5e5e5e;
}

main .hero .texto_hero button {
  font-size: 1em;
  background: none;
  padding: 10px;
  border: solid #ffbf49 1px;
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

main .hero .texto_hero button a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px #5e5e5e;
}

main .hero .texto_hero button a:hover {
  font-weight: bold;
}

main .productos_home {
  background-color: black;
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .productos_home h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 3.3rem;
  font-weight: 900;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

main .productos_home button {
  background-color: black;
  border: 0px;
  margin-left: 10px;
}

main .productos_home a {
  padding: 8px;
  color: #ffbf49;
  margin: 0px;
  text-decoration: none;
  border: 1px solid #ffbf49;
  border-radius: 15px;
}

main .productos_home a:hover {
  font-weight: bold;
  background-color: white;
  border-radius: 15px;
}

main .carrusel_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../image/ladrillos.jpg);
  padding-top: 70px;
  padding-bottom: 70px;
}

main .carrusel_home .slide {
  width: 80%;
}

main .carrusel_home .slide img {
  width: 100%;
}

main .info-main {
  padding: 30px;
  background-color: black;
}

main .info-main .envio .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.3)), to(rgba(16, 16, 16, 0.8))), url(../image/foto-envio.jpg);
  background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.8)), url(../image/foto-envio.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .info-main .envio .jumbotron:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

main .info-main .envio .jumbotron i {
  font-size: 100px;
}

main .info-main .envio .jumbotron h2 {
  font-weight: 900;
  font-style: italic;
  color: #ffbf49;
  font-size: 4rem;
  text-shadow: 1px 1px 2px black;
}

main .info-main .envio .jumbotron p {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

main .info-main .pago .jumbotron {
  margin: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 16, 16, 0.3)), to(rgba(16, 16, 16, 0.8))), url(https://img.freepik.com/foto-gratis/liquidacion-tarjeta-credito-pos-lugar-compras-efectivo_1359-1162.jpg?w=1380);
  background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.8)), url(https://img.freepik.com/foto-gratis/liquidacion-tarjeta-credito-pos-lugar-compras-efectivo_1359-1162.jpg?w=1380);
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .info-main .pago .jumbotron:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

main .info-main .pago .jumbotron i {
  font-size: 100px;
}

main .info-main .pago .jumbotron h2 {
  font-weight: 900;
  font-style: italic;
  color: #ffbf49;
  font-size: 4rem;
  text-shadow: 1px 1px 2px black;
}

main .info-main .pago .jumbotron p {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

/* main productos */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .carrusel_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../image/ladrillos.jpg);
  padding: 30px;
}

.main .carrusel_productos .slide {
  width: 80%;
}

.main .carrusel_productos .slide img {
  width: 100%;
}

.main .carrusel_productos .slide h3 {
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
  color: #ffbf49;
}

.main .hero .foto_productos {
  background-image: url(../image/bast2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main .hero .texto_hero {
  padding: 40px;
}

.main .hero .texto_hero h1 {
  color: white;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.main .hero .texto_hero h2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  font-size: 1.5em;
  padding-right: 20px;
  color: #ffbf49;
  text-decoration: none;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.main .hero .texto_hero button {
  font-size: 1em;
  background: none;
  padding: 10px;
  border: solid #ffbf49 1px;
  margin-top: 20px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.main .hero .texto_hero button a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px #5e5e5e;
}

.main .hero .texto_hero button a:hover {
  font-weight: bold;
}

.main .productos1 {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.main .productos1 .cheddar {
  width: 50%;
  padding: 20px 10px 20px 20px;
}

.main .productos1 .cheddar .jumbotron {
  height: 400px;
  background-image: url(../image/cheddar.jpg);
  background-size: cover;
  background-position: center;
}

.main .productos1 .texto h2 {
  color: #ffbf49;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos1 .texto h3 {
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos1 .texto p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos1 .baston {
  width: 50%;
  padding: 20px 20px 20px 10px;
}

.main .productos1 .baston .jumbotron {
  height: 400px;
  background-image: url(../image/baston-prod.jpg);
  background-size: cover;
  background-position: center;
}

.main .productos2 {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.main .productos2 .bolitas {
  width: 50%;
  padding: 20px 10px 20px 20px;
}

.main .productos2 .bolitas .jumbotron {
  height: 400px;
  background-image: url(../image/bolitas-prod.jpg);
  background-size: cover;
  background-position: center;
}

.main .productos2 .texto h2 {
  color: #ffbf49;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos2 .texto h3 {
  color: white;
  font-weight: 900;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos2 .texto p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .productos2 .bastoncitos {
  width: 50%;
  padding: 20px 20px 20px 10px;
}

.main .productos2 .bastoncitos .jumbotron {
  height: 400px;
  background-image: url(../image/bastoncito-prod.jpg);
  background-size: cover;
  background-position: center;
}

/* main coccion */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .foto_coccion {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.1)), to(rgba(16, 16, 16, 0.6))), url(../image/cheddar.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.1), rgba(16, 16, 16, 0.6)), url(../image/cheddar.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main .pasos_freir {
  background-color: #ffbf49;
}

.main .pasos_freir h2 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-style: italic;
  font-size: 5rem;
  text-align: center;
  padding-top: 30px;
}

.main .pasos_freir p {
  margin: 0px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 30px;
  font-style: italic;
  text-transform: uppercase;
}

.main .fondo_freir .fondo_freir2 {
  background-color: black;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.main .fondo_freir .fondo_freir2 .freir_1 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_freir .fondo_freir2 .freir_1 .jumbotron {
  height: 300px;
  background-image: url(../image/ladrillos.jpg);
  background-size: cover;
  background-position: center;
  width: 70%;
  margin: 0px !important;
}

.main .fondo_freir .fondo_freir2 .freir_1 .jumbotron h2 {
  color: #ffbf49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
  text-shadow: 1px 1px 2px #7a7a7a;
}

.main .fondo_freir .fondo_freir2 .freir_1 .jumbotron p {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.main .fondo_freir .fondo_freir2 .freir_2 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_freir .fondo_freir2 .freir_2 .jumbotron {
  height: 300px;
  background-image: url(../image/ladrillos.jpg);
  background-size: cover;
  background-position: center;
  width: 70%;
  margin: 0px !important;
}

.main .fondo_freir .fondo_freir2 .freir_2 .jumbotron h2 {
  color: #ffbf49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
  text-shadow: 1px 1px 2px #7a7a7a;
}

.main .fondo_freir .fondo_freir2 .freir_2 .jumbotron p {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.main .fondo_freir .fondo_freir2 .freir_3 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_freir .fondo_freir2 .freir_3 .jumbotron {
  width: 70%;
  height: 300px;
  background-image: url(../image/ladrillos.jpg);
  background-size: cover;
  background-position: center;
  margin: 0px !important;
}

.main .fondo_freir .fondo_freir2 .freir_3 .jumbotron h2 {
  text-shadow: 1px 1px 2px #7a7a7a;
  color: #ffbf49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
}

.main .fondo_freir .fondo_freir2 .freir_3 .jumbotron p {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.main .fondo_freir .fondo_freir2 .freir_4 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_freir .fondo_freir2 .freir_4 .jumbotron {
  height: 300px;
  background-image: url(../image/ladrillos.jpg);
  background-size: cover;
  background-position: center;
  width: 70%;
}

.main .fondo_freir .fondo_freir2 .freir_4 .jumbotron h2 {
  text-shadow: 1px 1px 2px #7a7a7a;
  color: #ffbf49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
}

.main .fondo_freir .fondo_freir2 .freir_4 .jumbotron p {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
}

.main .fondo_freir .fondo_freir2 .freir_5 {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_freir .fondo_freir2 .freir_5 .jumbotron {
  height: 800px;
  background-image: url(../image/baston-coccion.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
}

/* main comprar */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .hero .foto_comprar {
  background-image: url(../image/baston-comprar.jpg);
  background-size: cover;
  background-position: center;
  height: 130vh;
}

.main .hero .foto_comprar .texto_hero h1 {
  color: black;
}

.main .como_comprar {
  background-color: #ffbf49;
}

.main .como_comprar h2 {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  padding: 30px;
  margin: 0px !important;
}

.main .fondo_comprar {
  margin: 0px !important;
  background-image: url(../image/ladrillos.jpg);
  height: 1100px;
}

.main .fondo_comprar .boton-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_comprar .boton-contacto a {
  color: black;
  background-color: #ffbf49;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  font-style: italic;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
}

.main .fondo_comprar .boton-contacto a:hover {
  background-color: white;
  border: #ffbf49 2px solid;
}

.main .fondo_comprar .pasos_comprar {
  padding: 100px 300px 100px 300px;
}

.main .fondo_comprar .pasos_comprar .comprar_1 {
  background-color: black;
  -webkit-box-shadow: 1px 4px 6px 7px #969696;
          box-shadow: 1px 4px 6px 7px #969696;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 20px;
}

.main .fondo_comprar .pasos_comprar .comprar_1:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.main .fondo_comprar .pasos_comprar .comprar_1 h2 {
  font-weight: 900;
  color: #ffbf49;
  font-size: 5rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_comprar .pasos_comprar .comprar_1 p {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

.main .fondo_comprar .pasos_comprar .comprar_2 {
  background-color: black;
  -webkit-box-shadow: 1px 4px 6px 7px #969696;
          box-shadow: 1px 4px 6px 7px #969696;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 20px;
}

.main .fondo_comprar .pasos_comprar .comprar_2:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.main .fondo_comprar .pasos_comprar .comprar_2 h2 {
  font-weight: 900;
  color: #ffbf49;
  font-size: 5rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_comprar .pasos_comprar .comprar_2 p {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

.main .fondo_comprar .pasos_comprar .comprar_3 {
  background-color: black;
  -webkit-box-shadow: 1px 4px 6px 7px #969696;
          box-shadow: 1px 4px 6px 7px #969696;
  /*  margin-bottom: 100px; */
  border-radius: 10px;
  padding: 20px;
}

.main .fondo_comprar .pasos_comprar .comprar_3:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.main .fondo_comprar .pasos_comprar .comprar_3 h2 {
  font-weight: 900;
  color: #ffbf49;
  font-size: 5rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .fondo_comprar .pasos_comprar .comprar_3 p {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
}

/* main nosotros */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .hero .foto_nosotros {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.1)), to(rgba(16, 16, 16, 0.6))), url(../image/foto-nosotros.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.1), rgba(16, 16, 16, 0.6)), url(../image/foto-nosotros.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main .hero .foto_nosotros h1 {
  color: #ffbf49;
}

.main .quienes_somos {
  background-color: #ffbf49;
}

.main .quienes_somos h2 {
  color: black;
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.main .quienes_somos h3 {
  padding: 20px;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  color: black;
  font-weight: 900;
  margin: 0px !important;
}

.main .quienes_somos span {
  font-weight: 900;
  color: white;
}

.main .proposito {
  background-color: black;
  padding: 30px;
}

.main .proposito h2 {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  color: white;
}

.main .proposito p {
  font-size: 2rem;
  color: white;
  width: 70%;
}

.main .mision {
  background-color: black;
  padding: 30px;
}

.main .mision h2 {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  color: white;
}

.main .mision p {
  font-size: 2rem;
  color: white;
  width: 70%;
}

.main .vision {
  background-color: black;
  padding: 30px;
}

.main .vision h2 {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  color: white;
}

.main .vision p {
  font-size: 2rem;
  color: white;
  width: 70%;
}

/* main contacto */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.main .hero .foto_contacto {
  background-image: url(../image/fondo-contacto.jpg);
  background-size: cover;
  background-position: center;
  height: 150vh;
}

.main .hero h1 {
  color: white;
  font-size: 7rem !important;
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 3px 4px #535353;
}

.main .contactate h2 {
  font-size: 4rem;
  padding: 30px;
  color: #ffbf49;
  text-align: center;
  font-weight: 900;
  font-style: italic;
}

.main .globo_texto {
  /* padding-top: 30px;
        padding-left: 25px; */
}

.main .globo_texto .nombre_apellido {
  background-color: black;
  padding: 30px 0px 30px 60px;
}

.main .globo_texto .nombre_apellido h2 {
  color: #ffbf49;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
}

.main .globo_texto .nombre_apellido input {
  border: 0px;
  border-radius: 15px;
  padding: 30px 200px 30px 30px;
  margin: 20px 20px 20px 0px;
}

.main .globo_texto .nombre_apellido .nombresexo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .globo_texto .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-left: 70px !important;
}

.main .globo_texto h4 {
  font-weight: bold;
  font-style: italic;
  margin-left: 70px !important;
}

.main .globo_texto h2 {
  font-style: italic;
  font-weight: 900;
  padding-bottom: 10px;
  margin-left: 70px !important;
  margin-top: 20px;
}

.main .globo_texto textarea {
  font-size: 1rem;
  border: 0px 1px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 70px !important;
}

.main .globo_texto input {
  background-color: #ffbf49;
  cursor: pointer;
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-left: 70px !important;
}

.main .mail_wp h2 {
  padding: 30px 60px 30px 30px;
}

.main .mail_wp span {
  color: #ffbf49;
}

/* media queries index */
/* header */
@media only screen and (max-width: 850px) {
  .header .navbar ul li a {
    font-size: 17px !important;
  }
}

@media only screen and (max-width: 765px) {
  .header .navbar ul li a {
    font-size: 30px !important;
  }
}

/* hero */
@media only screen and (max-width: 900px) {
  main .hero .texto_hero h1 {
    font-size: 4.5rem !important;
  }
}

@media only screen and (max-width: 600px) {
  main .hero .texto_hero h1 {
    font-size: 3rem !important;
  }
  main .hero .texto_hero h2 {
    font-size: 1rem !important;
  }
  main .hero {
    height: 80vh !important;
  }
}

@media only screen and (max-width: 430px) {
  main .hero .texto_hero h1 {
    font-size: 2rem !important;
  }
  main .hero .texto_hero h2 {
    font-size: 20px !important;
  }
}

/* fin hero */
@media only screen and (max-width: 505px) {
  main .productos_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .productos_home h2 {
    font-size: 40px;
    margin: 0px;
  }
}

@media only screen and (max-width: 415px) {
  main .productos_home {
    height: 120px;
  }
  main .productos_home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .productos_home h2 {
    margin: 0px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .productos_home button {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .productos_home a {
    padding: 4px;
    font-size: 15px;
  }
}

/* row */
@media only screen and (max-width: 600px) {
  main .roww {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .roww .section_dos {
    width: 100%;
  }
  main .roww .section_tres {
    width: 100%;
  }
}

/* carrousel */
@media only screen and (max-width: 700px) {
  main .carrusel_home .slide {
    width: 100%;
    border: 0px;
  }
}

@media only screen and (max-width: 700px) {
  main .carrusel_home .slide {
    width: 100%;
    border: 0px;
  }
}

@media only screen and (max-width: 550px) {
  main .carrusel_home h3 {
    font-size: 15px;
  }
  main .carrusel_home p {
    font-size: 10px;
  }
}

/* productos */
@media only screen and (max-width: 1300px) {
  .slide h3 {
    font-weight: bold !important;
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 800px) {
  .slide h3 {
    font-weight: bold !important;
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .slide h3 {
    font-weight: bold !important;
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .productos1 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .productos2 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .productos1 .cheddar {
    width: 100% !important;
    padding: 10px !important;
  }
  .productos1 .baston {
    width: 100% !important;
    padding: 10px !important;
  }
  .productos2 .bolitas {
    width: 100% !important;
    padding: 10px !important;
  }
  .productos2 .bastoncitos {
    width: 100% !important;
    padding: 10px !important;
  }
}

/* coccion */
@media only screen and (max-width: 875px) {
  .pasos_freir h2 {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .pasos_freir h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 730px) {
  .pasos_freir p {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .pasos_freir p {
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .freir_1 h2 {
    font-size: 3rem !important;
  }
  .freir_1 p {
    font-size: 1.2rem !important;
  }
  .freir_2 h2 {
    font-size: 3rem !important;
  }
  .freir_2 p {
    font-size: 1.2rem !important;
  }
  .freir_2 .jumbotron {
    height: 400px !important;
  }
  .freir_3 h2 {
    font-size: 3rem !important;
  }
  .freir_3 p {
    font-size: 1.2rem !important;
  }
  .freir_4 h2 {
    font-size: 3rem !important;
  }
  .freir_4 p {
    font-size: 1.2rem !important;
  }
}

/* comprar */
@media only screen and (max-width: 1340px) {
  .como_comprar h2 {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 675px) {
  .como_comprar h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .como_comprar h2 {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  .fondo_comprar {
    height: 1100px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .pasos_comprar {
    padding: 100px 100px 100px 100px !important;
  }
}

@media only screen and (max-width: 665px) {
  .fondo_comprar {
    height: 1300px !important;
  }
}

@media only screen and (max-width: 700px) {
  .pasos_comprar h2 {
    font-size: 3rem !important;
  }
  .pasos_comprar {
    padding: 100px 50px 100px 50px !important;
  }
}

@media only screen and (max-width: 320px) {
  .fondo_comprar {
    height: 1500px !important;
  }
}

/* nosotros */
@media only screen and (max-width: 1000px) {
  .quienes_somos h3 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .quienes_somos h3 {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .quienes_somos h2 {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .quienes_somos h2 {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 650px) {
  .proposito {
    text-align: center;
    padding: 10px;
  }
  .proposito p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }
  .vision {
    text-align: center;
  }
  .vision p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }
  .mision {
    text-align: center;
  }
  .mision p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 530px) {
  .main .hero .foto_nosotros .texto_hero h1 {
    font-size: 4rem !important;
  }
  .proposito h2 {
    font-size: 3rem !important;
  }
  .vision h2 {
    font-size: 3rem !important;
  }
  .mision h2 {
    font-size: 3rem !important;
  }
  .proposito p {
    font-size: 1.3rem !important;
  }
  .vision p {
    font-size: 1.3rem !important;
  }
  .mision p {
    font-size: 1.3rem !important;
  }
}

/* contacto */
.main .globo_texto .globo2 {
  margin-left: 0px !important;
}

@media only screen and (max-width: 600px) {
  .mail_wp h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 500px) {
  .mail_wp h2 {
    font-size: 1.6rem !important;
  }
}

@media only screen and (max-width: 610px) {
  .main .hero .foto_contacto {
    height: 80vh !important;
  }
}

@media only screen and (max-width: 604px) {
  .main .contactate h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .main .globo_texto .nombre_apellido h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .globo_texto .labeltexto {
    padding-left: 0px !important;
  }
  .main .globo_texto .nombre_apellido {
    padding: 10px 0px 30px 0px !important;
  }
  .main .globo_texto .nombre_apellido h2 {
    margin-left: 20px !important;
  }
  .main .globo_texto h2 {
    margin-left: 20px !important;
  }
  .main .globo_texto label {
    margin-left: -50px !important;
  }
  .nombre_apellido input {
    padding: 20px 30px 20px 20px !important;
    margin: 0px !important;
  }
  .main .globo_texto {
    margin-left: 0px !important;
  }
}

/* footer */
@media only screen and (max-width: 1150px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .secciones_footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .secciones_footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffbf49;
  padding: 30px;
}

footer ul li a {
  text-decoration: none !important;
  color: white !important;
  padding: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
}

footer ul li a:hover {
  color: black !important;
}

footer .secciones_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .secciones_footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .redes {
  font-size: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .redes p {
  color: black;
  margin: 0px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

footer .redes i {
  margin: 10px;
}

footer .redes .fa-brands {
  color: black;
}

footer .redes .fa-brands:hover {
  color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}
/*# sourceMappingURL=style.css.map */