/* main index */
main{
    grid-area: main;
    .hero{
        
        .foto{
            background-image: url(../image/chedars.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
        .texto_hero{
            padding: 40px;
            h1{
                color:rgb(255, 255, 255);
                font-size: 7rem;
                font-weight: 900;
                font-style: italic;
                text-shadow:1px 1px 2px rgb(94, 94, 94) ;
            }
            h2{
                flex-wrap: wrap;
                font-weight:300;
                font-size: 1.5em;
                padding-right: 20px;
                color: $color1;
                text-decoration: none;
                text-shadow:1px 3px 4px rgb(48, 48, 48) ;
            }
        } 
    } 
    .botones-fijos{
        .wp_fijo a{
            font-size: 2.5rem;
            background-color: rgb(13, 148, 31);
            padding: 0px 10px 2px 10px ;
            border: rgb(255, 255, 255) solid 2px;
            color: white;
            border-radius: 50px;
            bottom: 120px;
            right: 20px;
            display: inline-block;
            cursor: pointer;
            position: fixed;
            text-shadow: 2px 2px 2px rgb(102, 102, 102);
            i{
                &:hover{
                    color:  rgb(255, 255, 255);
                    transform: rotate(360deg);
                    transition: 2s;
                }
            }
            
        }
        .subir i{
            font-size: 2.5rem;
            padding: 8px 10px;;
            border: rgb(255, 255, 255) solid 2px;
            color: rgb(255, 255, 255);
            border-radius: 40px;
            bottom: 30px;
            right: 20px;
            display: inline-block;
            cursor: pointer;
            position: fixed;
            text-shadow: 1px 2px 4px rgb(92, 92, 92);
        }
    }
    .productos_home{
        background-color: black;
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        h2{
            display: flex;
            color: white;
            font-size: 3.3rem;
            font-weight: 900;
            font-style: italic;
            align-items: center;
            margin-left: 50px;
        }
        button{
            background-color: rgb(0, 0, 0);
            border: 0px ;
            margin-left: 10px;
            a{
                padding: 8px;
                color: $color1;
                margin: 0px;
                text-decoration: none;
                border: 1px solid rgb(255, 191, 73);
                border-radius: 15px;
                &:hover{
                    font-weight: bold;
                    background-color: white;
                    border-radius: 15px;
                }
            }
        }
        
    }
    .carrusel_home{
        display: flex;
        justify-content: center;
        /* background-image: url(../image/ladrillos.jpg); */
        background-color: black;
        /* padding-top: 70px; */
        padding-bottom: 70px;
        .slide{
            width: 80%;
            img{
                background-size: cover;
                width: 100%;
                height: 800px;
                border-radius: 30px;
            }
        }
    }
    /* jumbotrons home */
    .info-main{
        padding: 30px;
        /* background-color: black; */
        background-image: url(../image/ladrillos.jpg);
        .envio-pago .jumbotron{
            margin: 30px 0px 30px 0px;
            padding: 0px;
            text-align: center;
            border-radius: 0px;
            transition: all 0.3s;
            box-shadow: 3px 5px 10px black;
            border-radius: 30px;
            &:hover{
                transform: scale(1.01,1.01);
            }
            .foto-envio{
            background-image: linear-gradient(rgba(16, 16, 16, .3), rgba(16, 16, 16, .8)) ,url(../image/foto-envio.jpg);
            background-size: cover;
            background-position: center;
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 30px;
            }
            .foto-pago{
            background-image:linear-gradient(rgba(16, 16, 16, .3), rgba(16, 16, 16, .8)) ,url(https://img.freepik.com/foto-gratis/liquidacion-tarjeta-credito-pos-lugar-compras-efectivo_1359-1162.jpg?w=1380);
            background-size: cover;
            background-position: center;
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 30px;
            }
            i{
                font-size: 100px;
            }
            h2{
                font-weight: 900;
                font-style: italic;
                color: $color1;
                font-size: 4rem;
                text-shadow: 1px 1px 2px black;;
            }
            p{
                font-weight: bold;
                font-size: 20px;
                color: white;
                margin: 0px;
            }
        }
    }
}
/* main productos */
.main{
    grid-area: main;
    .hero{
        .foto_productos{
            background-image: url(../image/bast223.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
    .titulos-prod{
        background-color: $color1;
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            font-weight: 900;
            font-style: italic;
            color:white;
            padding: 20px;
            margin: 0px;
            text-align: center;
        }
    }
    .carrusel_productos{
        display: flex;
        justify-content: center;
        background-image: url(../image/ladrillos.jpg); 
        padding: 30px;
        .slide{
            width: 80%;
            box-shadow: 1px 4px 6px 5px rgb(179, 179, 179);
            border-radius: 30px;
            img{
                width: 100%;
                height: 710px;
                border-radius: 30px;
            }
            h3{
                font-weight: 900;
                font-size: 4rem;
                font-style: italic;
                color: white;
            }
        }
    }
    
    .productos{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .producto{
            width: 70%;
            padding: 20px 10px 20px 10px;
            .jumbotron1{
                height: 600px;
                background-image: url(../image/cheddar.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 30px;
                transition: all 0.6s;
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
            .jumbotron2{
                height: 600px;
                background-image: url(../image/baston-prod.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 30px;
                transition: all 0.6s;
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
            .jumbotron3{
                height: 600px;
                background-image: url(../image/bolitas-prod.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 30px;
                transition: all 0.6s;
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
            .jumbotron4{
                height: 600px;
                background-image: url(../image/bastoncito-prod.jpg);
                background-size: cover;
                background-position: center;
                border-radius: 30px;
                transition: all 0.6s;
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
            .texto{
                h2{
                    color: $color1;
                    font-weight: 900;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    padding-top: 30px;
                    font-style: italic;
                }
                h3{
                    color: rgb(255, 255, 255);
                    font-weight: 900;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }
                p{
                    color: white;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }
            }
        }   
    }
}
/* main coccion */
.main{
    grid-area: main;
    .foto_coccion{
        background-image: linear-gradient(rgba(12, 12, 12, .1), rgba(16, 16, 16, .6)) ,url(../image/cheddar.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .pasos_freir{
        background-color: $color1;
        h2{
            color: black;
            display: flex;
            justify-content: center;
            font-weight: 900;
            font-style: italic;
            font-size: 5rem;
            text-align: center;
            padding-top: 30px;
        }
        p{
            margin: 0px;
            color: white;
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: bold;
            font-size: 3rem;
            padding-bottom: 30px;
            font-style: italic;
            text-transform: uppercase; 
        }
    }
    .coccion{
        background-image: url(../image/ladrillos.jpg);
        width: 100%;
        display: flex;
        flex-direction: column;
        .cont-coccion{
            .coccion-container{
                width:100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                    .jumbotron{
                    height: 300px;
                    background-color: black;
                    width: 70%;    
                    margin: 0px ;
                    border-radius: 30px;
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    box-shadow: 1px 4px 6px 7px rgb(150, 150, 150);
                    &:hover{
                        transform: scale(1.01,1.01);
                    }
                    h2{
                    color: $color1 ;
                    display: flex;
                    justify-content: center;
                    font-weight: 900;
                    font-style: italic;
                    font-size: 4rem;
                    text-shadow: 1px 1px 2px rgb(122, 122, 122);
                    }
                    p{
                    color: white;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    font-weight: bold;
                    }
                }
            }
        }
           
    }
    .card-deck{
        padding: 40px;
        background-color: white;
        width: 100%;
        margin: 0px;
        .galeria1{
            border-radius: 20px;
            .card-body{
                background-image: url(../image/galeria1.jpg);
                background-position: center;
                background-size: cover;
                height: 400px;
                border-radius: 20px;
                transition: all 0.6s;
                box-shadow: 1px 4px 6px 5px rgb(179, 179, 179);
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
        }
        .galeria2{
            border-radius: 20px;
            .card-body{
                background-image: url(../image/galeria2.jpg);
                background-position: center;
                background-size: cover;
                height: 400px;
                border-radius: 20px;
                transition: all 0.6s;
                box-shadow: 1px 4px 6px 5px rgb(179, 179, 179);
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
        }
        .galeria3{
            border-radius: 20px;
            .card-body{
                background-image: url(../image/galeria3.jpg);
                background-position: center;
                background-size: cover;
                height: 400px;
                border-radius: 20px;
                transition: all 0.6s;
                box-shadow: 1px 4px 6px 5px rgb(179, 179, 179);
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
        }
        .galeria4{
            border-radius: 20px;
            .card-body{
                background-image: url(../image/galeria4.jpg);
                background-position: center;
                background-size: cover;
                height: 400px;
                border-radius: 20px;
                transition: all 0.6s;
                box-shadow: 1px 4px 6px 5px rgb(179, 179, 179);
                &:hover{
                    transform: scale(1.05,1.05);
                }
            }
        }
    }
           
}
/* main comprar */
.main{
    grid-area: main;
    .hero{
        .foto_comprar{
            background-image: url(../image/baston-comprar.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
    .como_comprar{
        background-color: $color1;
        h2{
            font-size: 5rem;
            font-weight: 900;
            font-style: italic;
            display: flex;
            justify-content: center;
            text-align: center;
            color: white;
            padding: 30px;
            margin: 0px;
        }
    }
    .fondo_comprar{
        margin: 0px;
        background-image: url(../image/ladrillos.jpg);
        height: 1250px;
        .boton-contacto{
            display: flex;
            justify-content: center;
            a{
                color: rgb(0, 0, 0);
                background-color: $color1;
                padding: 5px;
                border-radius: 10px;
                font-weight: bold;
                font-size: 1.3rem;
                font-style: italic;
                cursor: pointer;
                border: 1px solid black;
                text-decoration: none;
                &:hover{
                    background-color: white;
                    border: $color1 2px solid;
                }
            }
        }
        .pasos_comprar{
            padding: 100px 300px 100px 300px;
            .pasos{
                background-color: rgb(0, 0, 0);
                box-shadow: 1px 4px 6px 7px rgb(150, 150, 150);
                border-radius: 30px;
                margin-bottom: 100px;
                padding: 20px;
                &:hover{
                    transform: scale(1.01,1.01);
                }
                h2{
                    font-weight: 900;
                    color:$color1;
                    font-size: 5rem;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                }
                p{
                    font-weight: bold;
                    font-size: 2rem;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    color: white;
                    text-align: center;
                }
            }
            .boton-comprar{
                display: flex;
                justify-content: center;
                    a{
                        color: white;
                        text-decoration: none;
                        h3{
                            font-size: 1.5rem;
                            background-color: $color1;
                            padding: 10px;
                            border-radius: 10px;
                            color: white;
                            font-style: italic;
                            cursor: pointer;
                            font-weight: bold;
                            text-decoration: none;
                            &:hover{
                                color: $color1;
                                border: 3px $color1 solid;
                                background-color: white;
                                text-decoration: none;
                        }
                    }
            
                }
            }
        }
    }
}
/* main nosotros */
.main{
    grid-area: main;
    .hero{
        .foto_nosotros{
            background-image:linear-gradient(rgba(12, 12, 12, .1), rgba(16, 16, 16, .6)) ,url(../image/foto-nosotros.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
    .quienes_somos{
        background-color: $color1;
        h2{
            color: black;
            font-size: 5rem;
            font-weight: 900;
            font-style: italic;
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
        h3{
        padding: 20px;
        font-size: 3rem;
        font-style: italic;
        text-align: center;
        color:black;
        font-weight: 900;
        margin: 0px;
        }
        span{
            font-weight: 900;
            color:rgb(255, 255, 255) ;
        }
    }
    .nosotros1{
        display: flex;
        flex-direction: row;
        
        .nosotros{
            background-color: black;
            /* padding: 80px; */
            padding: 50px 40px 50px 40px;
            h2{
                
                font-size: 5rem;
                font-weight: 900;
                font-style: italic;
                color: $color1;
            }
            p{
                font-size: 1.4rem;
                color: white;
                width: 90%;
                
            }
        }
        .card-deck2{
            flex-direction: column;
            padding: 40px;
            background-color: black;
            width: 100%;
            margin: 0px;
            display: flex;
            justify-content: space-around;

            .gal-nos{
                border-radius: 20px;
                margin: 10px;
                border: 0px;
                transition: all 0.6s;
            .card-body1{
                background-image: url(../image/gal-nos2.jpg);
                background-position: center;
                background-size: cover;
                height: 260px;
                border-radius: 20px;
            }
            .card-body2{
                background-image: url(../image/gal-nos3.jpg);
                background-position: center;
                background-size: cover;
                height: 260px;
                border-radius: 20px;
            } 
            .card-body3{
                background-image: url(../image/fondo-contacto.jpg);
                background-position: center;
                background-size: cover;
                height: 260px;
                border-radius: 20px;
            }
            &:hover{
                transform: scale(1.05,1.05);
            }
            }
        }
    }
}
/* main contacto */
.main{
    grid-area: main;
    .hero{
        .foto_contacto{
            background-image: url(../image/fondo-contacto.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    }
    .contactate h2{
        font-size: 4rem;
        padding: 30px;
        color: $color1 ;
        text-align: center;
        font-weight: 900;
        font-style: italic;
    }
    .globo_texto{
        .nombre_apellido{
            background-color: black;
            padding:  40px;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                color: $color1;
                font-weight: 900;
                font-size: 4rem;
                font-style: italic;
                margin-left: 10px;
            }
            input{
                border: 0px;
                border-radius: 15px;
                padding: 30px 200px 30px 30px;
                margin: 20px 20px 20px 0px;
            }
            .nombresexo{
                display: flex;
                flex-direction: row;
            }
    
        }
        .globo2{
            display: flex;
            padding: 40px;
            
            .mail{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                
            }
            .areatexto{
                width: 700px;
                font-size: 1rem;
                border: 0px 1px;
                border-radius: 20px;
                padding: 10px;
            }
            h2{
               font-size: 4rem; 
               font-weight: 900;
               font-style: italic;
            }
            h4{
                font-weight: bold;
                font-style: italic;
                
            }
            input{
                background-color: $color1;
                cursor: pointer;
                border: 0px solid black;
                border-radius: 10px;
                padding: 10px;
                margin-right: 5px;
                &:hover{
                    transform: scale(1.1,1.1);
                }
                
            }
            .mail_wp{
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-top: 120px;
                i{
                    font-weight: bold;
                    color: $color1;
                    font-family: 'Monsterrat' sans-serif;
                }
                h3{
                    font-style: italic;
                    font-weight: bold;
                    padding-bottom: 10px;
                    margin-top: 20px;
                }
            }

        }
        
    }
}

/* media queries */
/* header */
@media only screen and (max-width: 768px){
    .header nav{
        justify-content: space-between;
    }
    .header nav ul li a{
        font-size: 1.2rem;
    }
    .main .pasos_freir h2{
        font-size: 3rem;
    }
    .main .pasos_freir p{
        font-size: 2rem;
    }
    .main .globo_texto .globo2 .areatexto{
        width: 400px;
    }
    .main .globo_texto .globo2 .mail_wp h3{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 767px){
    .header nav ul li a{
        font-size: 2rem;
    }
}
/* carrusel home */
@media only screen and (max-width: 1600px){
    main .carrusel_home .slide img{
        height: 600px;
    }
    .main .carrusel_productos .slide img{
        height: 600px;
    }
    .main .nosotros{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .main .nosotros p{
        width: 90%;
    }
}
@media only screen and (max-width: 1340px){
    main .carrusel_home .slide img{
        height: 500px;
    }
    .main .carrusel_productos .slide img{
        height: 440px;
    }
    .main .globo_texto .globo2{
        flex-direction: column;
    }
    .main .globo_texto .globo2 .mail_wp{
        padding-top: 30px;
    }
    .main .nosotros1{
        flex-direction: column;
    }
    .main .nosotros1 .card-deck2 .gal-nos .card-body1{
        height: 400px;
    }
    .main .nosotros1 .card-deck2 .gal-nos .card-body2{
        height: 400px;
    }
    .main .nosotros1 .card-deck2 .gal-nos .card-body3{
        height: 400px;
    }
}

@media only screen and (max-width: 1150px){
    main .carrusel_home .slide img{
        height: 400px;
    }
    .main .fondo_comprar .pasos_comprar .pasos h2{
        font-size: 3rem;
    }
    .main .fondo_comprar .pasos_comprar{
        padding: 100px 200px 100px 200px;
    }
    main .botones-fijos .wp_fijo a{
        bottom: 220px;
    }
    main .botones-fijos .subir i{
        bottom: 150px;
    }
    .main .card-deck{
        flex-direction: column;
    }
    .main .card-deck .galeria1{
        margin: 10px;
    }
    .main .card-deck .galeria2{
        margin: 10px;
    }
    .main .card-deck .galeria3{
        margin: 10px;
    }
    .main .card-deck .galeria4{
        margin: 10px;
    }
}
@media only screen and (max-width: 900px){
    main .carrusel_home .slide img{
        height: 300px;
    }
    footer{
        flex-direction: column;
    }
    footer .secciones_footer ul{
        justify-content: center;
    }
    .main .carrusel_productos .slide img{
        height: 340px;
    }
    .main .carrusel_productos .slide h3{
        font-size: 2rem;
    }
    main .hero .texto_hero h1 {
        font-size: 5rem;
    }
    .main .productos .producto .jumbotron1{
        height: 400px;
    }
    .main .productos .producto .jumbotron2{
        height: 400px;
    }
    .main .productos .producto .jumbotron3{
        height: 400px;
    }
    .main .productos .producto .jumbotron4{
        height: 400px;
    }
    .main .coccion .coccion-container .jumbotron{
        width: 100%;
    }
    .main .fondo_comprar .pasos_comprar{
        padding: 50px 100px 50px 100px;
    }
    .main .productos .producto{
        width: 90%;
    }
    .main .titulos-prod h3{
        font-size: 3rem;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron p {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 630px){
    main .carrusel_home .slide img{
        height: 200px;
    }
    main .carrusel_home .slide h3{
        font-size: 1rem;
    }
    main .carrusel_home .slide p{
        font-size: 1rem;
    }
    main .carrusel_home .slide{
        width: 100%;
    }
    main .hero .texto_hero h1 {
        font-size: 4rem;
    }
    .main .carrusel_productos .slide img{
        height: 280px;
    }
    .main .carrusel_productos .slide{
        width: 100%;
    }
    .main .carrusel_productos{
        padding: 20px 0px 20px 0px;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron h2{
        font-size: 2.5rem;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron p {
        font-size: 0.8rem;
    }
    .main .como_comprar h2{
        font-size: 3rem;
    }
    .main .quienes_somos h3{
        font-size: 2rem;
    }
    .mail_wp h2{
        font-size: 2rem ;
    }
    .main .hero .foto_contacto{
        height: 80vh ;
    }
    .main .contactate h2{
        font-size: 2rem;
    }
    .main .card-deck .galeria1 .card-body{
        height: 300px;
    }
    .main .card-deck .galeria2 .card-body{
        height: 300px;
    }
    .main .card-deck .galeria3 .card-body{
        height: 300px;
    }
    .main .card-deck .galeria4 .card-body{
        height: 300px;
    }
}
@media only screen and (max-width: 650px){
    .globo_texto .labeltexto{
        padding-left: 0px ;
    }
    .main .globo_texto .nombre_apellido{
        padding: 10px 0px 30px 0px ;
    }
    .main .globo_texto .nombre_apellido h2{
        margin-left: 20px;
        font-size: 2rem;
    }
    .main .globo_texto h2{
        margin-left: 20px;
        font-size: 1.6rem;
    }
     .main .globo_texto label{
        margin-left: 50px;
    } 
    .nombre_apellido input{
        padding: 20px 30px 20px 20px !important;
        margin: 0px ;
    }
    .main .globo_texto{
        margin-left: 0px ;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron h2{
        font-size: 3rem;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 530px){
    main .hero .texto_hero h1 {
        font-size: 3rem;
    }
    main .productos_home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .productos_home h2{
        margin-left: 0px;
    }
    main .info-main .envio-pago .jumbotron .foto-pago{
        height: 400px;
    }
    .main .carrusel_productos .slide img{
        height: 180px;
        padding: 10px;
    }
    .main .carrusel_productos .slide h3{
        font-size: 1rem;
    }
    .main .pasos_freir h2{
        font-size: 2rem;
    }
    .main .pasos_freir p{
        font-size: 1rem;
    }
    .main .fondo_comprar .pasos_comprar .pasos p{
        font-size: 1.5rem;
    }
    .main .fondo_comprar .pasos_comprar{
        padding: 50px 50px 50px 50px;
    }
    .main .nosotros1 .nosotros h2{
        font-size: 3rem;
    }
    .main .nosotros1 .nosotros p{
        font-size: 1rem;
    }
    .main .globo_texto .globo2 h2{
        font-size: 2rem;
        margin-left: 0px;
    }
    .main .globo_texto .globo2 .areatexto{
        width: 250px;
    }
    .main .titulos-prod h3{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 420px){
    main .hero .texto_hero h1 {
        font-size: 2rem;
    }
    main .productos_home h2{
        font-size: 2.5rem;
    }
    main .info-main .envio-pago .jumbotron h2{
        font-size: 2.5rem;
    }
    .main .productos .producto .jumbotron1{
        height: 200px;
    }
    .main .productos .producto .jumbotron2{
        height: 200px;
    }
    .main .productos .producto .jumbotron3{
        height: 200px;
    }
    .main .productos .producto .jumbotron4{
        height: 200px;
    }
    .main .productos .producto .texto h2{
        font-size: 1.5rem;
    }
    .main .pasos_freir h2{
        font-size: 1.3rem;
    }
    .main .coccion .coccion-container .jumbotron {
        height: 450px;
    }
    .main .como_comprar h2{
        font-size: 2rem;
    }
    .main .quienes_somos h3{
        font-size: 1.5rem;
    }
    .main .globo_texto .nombre_apellido h2{
        font-size: 2rem;
    }
    .main .globo_texto .globo2 .mail_wp h3{
        font-size: 1rem;
    }
    .main .titulos-prod h3{
        font-size: 1.6rem;
    }
    .main .nosotros1 .nosotros h2{
        font-size: 2rem;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron h2{
        font-size: 2rem;
    }
    .main .coccion .cont-coccion .coccion-container .jumbotron p {
        font-size: 0.9rem;
    }
}